/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Pinyon+Script&family=Playwrite+CA+Guides&family=Rochester&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Libre Caslon Display", serif;
    --secondary-font: "Pinyon Script", serif;
    --baby-pink: #e3c0c6;
    --darker-pink: #90285e;
    --white: #ffffff;
    --vert: #9dc2a3;
}




/* Global styling */
body {
    font-family: var(--primary-font);
    background-image: url(../images/background-flowers.jpg);
    background-size: contain;
    background-repeat: round;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p,
a {
    font-size: 1.1rem;
}

.section {
    max-width: 90%;
    margin: 0 auto;
    border-radius: 12px;
    background-color: var(--white);
    padding-bottom: 2rem;
    padding-top: 1rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.section a {
    color: var(--darker-pink);
}

.section a:hover {
    color: var(--vert);
}

#audio::-webkit-media-controls-panel {
    background-color: var(--baby-pink)
}






/* Navigation */
#navigation {
    background-color: var(--baby-pink);
    padding: 0px;
    border-bottom: 1px solid #450029;
}

#navigation a {
    font-size: larger;
}

#navigation .navbar-brand {
    font-family: var(--secondary-font);
    font-size: 1.8rem;
}







/* Header */
#header {
    margin-top: 20px;
}

header img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

header h1 {
    font-family: var(--secondary-font);
}

header h2 {
    font-size: large;
}






/* Categories and cards */
.card {
    max-width: 17rem;
    padding: 0px;
    border-radius: 12px;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.card h3 {
    font-size: large;
}

.card .btn {
    width: auto;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.card-img-top {
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

.card .card-body a {
    background-color: var(--baby-pink);
    border-color: var(--darker-pink);
    color: var(--darker-pink);
}

.card .card-body a:hover {
    background-color: var(--darker-pink);
    border-color: var(--darker-pink);
    color: var(--baby-pink);
}

.card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card button {
    background-color: var(--baby-pink);
    border-color: var(--darker-pink);
    color: var(--darker-pink);
    width: auto;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: auto;
}

.card button:hover {
    background-color: var(--darker-pink);
    border-color: var(--darker-pink);
    color: var(--baby-pink);
}

#categories {
    padding-top: 15px;
    margin-top: 1.5rem;
}

.card-title {
    font-weight: 600;
}







/*Follow us*/
#follow-us .display-2 {
    color: var(--darker-pink);
}






/*Recipes Page*/
#recipes .collapse {
    text-align: left;
}





/*Cleaning page*/
#header-cleaning {
    margin-top: 20px;
}

#header-cleaning .row {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
}





/* Footer */
footer {
    background-color: var(--baby-pink);
    padding: 2rem;
    border-top: 1px solid #450029;
}

#footer a {
    color: var(--darker-pink);
}

#footer a:hover {
    color: white;
}

#footer p {
    font-size: large;
    color: var(--darker-pink);
}






/* Media query */
@media (min-width: 829px) {

    .section {
        max-width: 70%;
    }
}